# Python
__pycache__/
*.pyc
davi_venv/
*.env
venv/

# Node
node_modules/
dist/
build/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.hcl
.terraform.tfstate.lock.info

# IDE / OS
.vscode/
.DS_Store

# Output files
dashboard.html
*.csv